/***************/
/*** Colores ***/
/***************/

:root {
    --blanco: #FFFFFF;
    --gris: #6c757d;
    --grisOscuro: #495057;
    --negro: #343a40;
    --marron: #bd5d38;
    --marronClaro: #eb9d7f;
    --marronOscuro: #88452b;
}

/****************/
/*** Globales ***/
/****************/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;    
    font-family: 'Saira Extra Condensed', sans-serif;    
    color: var(--negro);
    background: var(--marron);
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.body {    
    margin: 0 auto;    
    display: flex;
    flex-direction: column;
}

.separador {
    opacity: .25;
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
}

/**************/
/*** Navbar ***/
/**************/

.navbar {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    background-color: var(--marron);
    width: 100%;
    height: 6rem;
    padding-top: 0;
}

.navbar-burger {
    display: block;
    padding: 0;
}

.material-icons {
    margin-top: 0;
    padding: 0 .9rem 0 0;
    font-size: 5rem;
    color: var(--blanco);
}

.navbar-background {
    width: 100%;
}

.navbar-titulo {
    display: block;
    padding: 1.5rem 0 0 1rem;
    color: var(--blanco);
    font-family: 'Krub', sans-serif;
    font-size: 2.5rem;    
    width: 30rem;
    height: 34px;
}

.navbar-menu {    
    display: none;
}

/************/
/*** Main ***/
/************/

.main {
    background-color: var(--blanco);
    padding: 3rem 1.6rem 4rem;
}

/****************/
/*** Sobre mi ***/
/****************/

.sobre_mi {
    margin-top: 6.5rem;
}

.sobre_mi-titulo {
    color: var(--negro);
    font-size: 9.6rem;
    text-transform: uppercase;
    margin: 0;
}

.sobre_mi-titulo span {
    color: var(--marron);
    letter-spacing: 0.2rem;
}

.sobre_mi-subtitulo {
    color: var(--gris);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 4.8rem;
}

.sobre_mi-subtitulo a {
    color: var(--marron);  
    text-transform: lowercase;  
}

.sobre_mi-texto {
    color: var(--gris);
    font-family: 'Krub', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.sobre_mi-iconos {
    margin-top: 4.8rem;
}

.sobre_mi-icono {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    margin-top: 4.8rem;
    height: 6rem;
    width: 6rem;
    color: var(--blanco);
    background-color: var(--grisOscuro);
    border-radius: 100%;
    font-size: 2.5rem;
    text-decoration: none;
}

.sobre_mi-icono:hover {
    background-color: var(--marron);
}

/*********************/
/*** Media Queries ***/
/*********************/

@media (min-width: 992px) {
    .navbar {
        background-color: unset;
        height: 0;
    }

    .navbar-burger {
        display: none;
    }

    .navbar-background {
        display: none;
    }

    .navbar-menu {
        translate: 0 0;
        width: 27rem;
        background: transparent;
        flex-direction: row;
        visibility: visible;
        flex-direction: column;
        background: var(--marron);
        align-items: center;
        margin-top: 11rem;        
    }

    .navbar-titulo {
        visibility: hidden;
    }
    
    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        background: var(--marron);
        margin-top: 0;
        padding: 2rem;
        padding-top: 7.2rem;
        gap: 8px;
        width: 270px;
        height: 100%;
        z-index: 3;
        top: 0;
        left: 0;
    }

    .navbar-menu img {
        max-width: 16rem;
        max-height: 16rem;
        border-radius: 50%;
        border: solid .8rem rgba(255, 255, 255, .2);
        margin-bottom: 1.5rem;
    }

    .navbar-menu > a {
        display: block;
        color: rgba(255, 255, 255, 0.5);
        background: transparent;
        padding: .8rem 0;
        font-family: 'Krub', sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
    }
      
    .navbar-menu > a:hover {
        opacity: 0.8;
    }
    
    .navbar-menu > a.active {
        color: var(--blanco);
    }

    .body {
        flex-direction: row;
    }

    .main {
        flex: 3;
        margin-left: 27rem;
        padding: 1rem 4.8rem;
    }
}